[submodule "vendor/cryptopp"]
	path = vendor/cryptopp
	url = https://github.com/weidai11/cryptopp

[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib

[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/p-ranav/argparse.git

[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
