[submodule "include/external/cryptopp"]
	path = include/external/cryptopp
	url = https://github.com/weidai11/cryptopp

[submodule "include/external/spdlog"]
	path = include/external/spdlog
	url = https://github.com/gabime/spdlog

[submodule "include/external/zlib"]
	path = include/external/zlib
	url = https://github.com/madler/zlib

[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googltest
